{% extends "layout.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card p-4">
            <h3 class="mb-4 text-center">Change Password</h3>

            <form method="POST">
                <div class="mb-3">
                    <label>Old Password</label>
                    <input type="password" name="old_password"
                           class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>New Password</label>
                    <input type="password" name="new_password"
                           class="form-control" required>
                </div>

                <button class="btn btn-warning w-100">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}